.content{
    width: 100vw;
    height: 100vh;
    position:absolute;
    // background-image: linear-gradient(to left bottom,rgb(79, 197, 252),#6edbf4,rgb(142, 225, 231));
    .cart-box{
        background: url('../../assets/back.png');
        width: 700px;
        height: 500px;
        box-shadow: -1px 4px 6px -1px rgba(0,0,0,0.3);
        .section-two{
            .log-text{
                color:#4e4a56;
            }
        }
        .section-one{
            .wellcome{
                font-size: 25px;
                padding: 10px;
                margin-top: 60px;
                margin-left: 20px;
            }
        }
    }
    .svg-wave{
        z-index: -1;
    }
    .first-svg{
        position: absolute;
        width: 325px;
        top:250px;
        z-index: 1;
    }
}
